body{
    background-image: url(Assets/alexander-grey-jYbKxinWQGk-unsplash.jpg);
    background-size: cover;
    
}

@keyframes typing {
    from { width: 0; }
    to { width: 68%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
}

/* .typewriter-container {
    width: 40%; 
    max-width: 400px; 
}

.typewriter::before {
    content: '';
    display: inline-block;
    width: 1px;
    border-right: 2px solid orange;
    margin-left: 5px;
    animation: blink-caret 0.75s step-end infinite;
}

.typewriter {
    overflow: hidden;
    white-space: nowrap; 
    border-right: .15em solid rgb(0, 24, 96); 
    animation: typing 4s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
} */